/*
-Estructura del código revisado
-Mejor no usar mayúsculas con clases e ids
-Mejor usar h1 como selector
-HTML reiniciado
-Código del header y la nav completo
-Simplificados clases e ids
-Ajustados los nombres de las clases e ids a lo que había

-¿Usar nombres en inglés o en español?

-Integrado código de Nathalia y Gabriela
-Cambios en progreso
-Cambios en main
-Cambios en slogan y en el nav
-Animación de salud: %

*/

* {
    margin: 0;
    font-family: 'Roboto', sans-serif; /*Añadido de Nathalia*/    
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 57px; /*CAMBIO: Para que se vea el título de las secciones*/
}

body {
    width: 90%;
    margin: auto;
    border-left: 2px solid  #DADBE9;
    border-right: 2px solid  #DADBE9;
}

/*CÓDIGO DE HEADER*/
header {
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /*filter*/
    flex-wrap: wrap;
    background-color: #DADBE9;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

#equipo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 30px 0 0;
}

h1 {    
    color: #1C203C;
    font-family: Monofett;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 30px 0 0;  
}

#equipo > .logo {
    width: 50px;
    margin: 0 15px;
}

#nav_bar {
    display: flex;
    list-style: none;
    column-gap: 32px;
}

#nav_bar a {
    text-decoration: none;
    color: #1C203C;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}

/*opcional*/
#nav_bar a:hover {
    color: purple;
}

/*-------------RESPONSIVE- NAVBAR-------------*/
@media only screen and (max-width:870px) {

    ul li{
        font-size:15px;
        padding-top: 20px;
    }
}

@media only screen and (max-width:570px) {
    nav{
        width: 100%;
    }

    ul li{
        
        width: 100%;
        text-align: left;
        font-size:15px;
        padding: 2px;
    }

    li a{
        display: block;
    }
}

/*CÓDIGO DE MAIN*/

h2 {
    text-align: center;
    padding: 3rem;    
    color: #1C203C;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*AÑADIDO DE ANGELA >> PARA QUE CADA HIJO DE MAIN OCUPE TODA LA PANTALLA*/
main > * {
    min-height: calc(100vh - 57px);
}

/*CÓDIGO DE SLOGAN*>>CAMBIOS de Ángela>>*/

#slogan {
    background-image: url(./src/assets/img/slogan-fondo.png);
}

#slogan > img {
    width: 100%;
    max-height: calc(100vh - 57px);
    object-fit: contain;
}

/*CÓDIGO DE INTEGRANTES*/

#integrantes {
    height: 550px;
    background-color: #EAEBF5;
    padding-top: 50px;
}

.arrow_left,
.arrow_right {
    position: absolute;
    left: 0;
    right: auto;
    font-size: 50px;
    line-height: 150px;
    width: 40px;
    color: #1C203C;
    cursor: pointer;
    border: none;
    background-color: #EAEBF5;
}

.arrow_left:hover,
.arrow_right:hover {
    color: #1c203ca1;
}

.arrow_right {
    right: 0;
    left: auto;
    text-align: right;
}

.container {
    position: relative;
    padding: 60px;
    max-width: 900px;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.gallery_wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;
    align-items: center;
}

/* This is from w3schools */
/* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery_wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery_wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.item {
    border-radius: 10px;
    position: relative;
    width: 300px;
    height: 350px;
    transition: all 100ms ease-in-out 200ms;
}

.item:hover {
    transform: scale(0.5.0.5);
  }

.team_image{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: all 200ms ease-in-out;
    padding: 5px;
    border-radius: 100%;
}

.current_item {
  opacity: 1;
  border-radius: 10px;
}

.hover_content {
    position: absolute;
    text-align: center;
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    top: 0; /* Coloca a div no topo do elemento pai */
    left: 0; /* Coloca a div no canto esquerdo do elemento pai */
    right: 0; /* Coloca a div no canto direito do elemento pai */
    bottom: 0; /* Coloca a div no fundo do elemento pai */
    transition: all 100ms ease-in-out 200ms;
}

.hover-content h5{
    display: flex;
}

h5 {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.maria h5 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    background-color: #E6BFE1;
    color:#1C203C;
    margin-bottom: 10px;
}

.angela h5 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    background-color: #FFD267;;
    color:#1C203C;
    margin-bottom: 10px;
}

.gabriela h5 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    background-color: #84FF82;;
    color:#1C203C;
    margin-bottom: 10px;
}

.nathalia h5 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    background-color: #72D1C2;;
    color:#1C203C;
    margin-bottom: 10px;
}

.victoria h5 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    background-color: #FF6C6C;;
    color:#1C203C;
    margin-bottom: 10px;
}

h6 {
    color:#1C203C;
    font-size: 1rem;
    margin-bottom: 10px;
}
  .item:hover .hover_content {
    opacity: 1;
  }  

#integrantes h3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 5px;
}

.angela {
    background: linear-gradient(180deg, #FFD267 0%, #F5F5F5 100%);;
}

.gabriela {
    background: linear-gradient(180deg, #84FF82 0%, #F5F5F5 100%);;
}

.maria {
   background: linear-gradient(180deg, #E6BFE1 0%, #F5F5F5 100%);
}

.nathalia {
    background: linear-gradient(180deg, #CDF7F2 0%, #F5F5F5 100%);}

.victoria {
    background: linear-gradient(180deg, #FF6C6C 0%, #F5F5F5 100%);
}

/*CÓDIGO DE HERRAMIENTAS Y LENGUAJES*/
/* Para garantir que os elementos estão alinhados no centro */
#herramientas_lenguajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    column-gap: 20px;
}

.herramientas,.lenguajes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 700px;
}

.box_lenguajes {
    margin-top: 50px;
}

#herramientas_lenguajes figure img{
    width: 100px;
    height: 100px;
}

/*CÓDIGO DE SALUD*/

#salud {
    width: 100%;
    height: 650px;
    background-color: rgba(234, 235, 245, 1);
    padding: 0;
}

.salud_content {
    width: 60%;
    height: 500px;
    left: 20%;
    margin:auto;
}

#salud h4 {
    padding-left: 5px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.2em rgba(28, 32, 60, 1), 0 0 0.2em rgba(28, 32, 60, 1),
		0 0 0.2em rgba(28, 32, 60, 1);
}

.bar_medidora {
    display: flex;
    padding-bottom: 30px;
}

#triste {
    margin-right: 5px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    
}

#contento {
    margin-left: 5px;
    margin-top: 6px;
    width: 48px;
    height: 48px;
    
}

.bar_container {
    width: 100%;
    background-color: rgb(216, 214, 214);
    border-radius: 1rem;
    padding: 0.5em;
}

.pct {
    text-align: right;
    padding: 10px;
    color: white;
    font-weight: 900;
    border-radius: 4rem;
    box-sizing: border-box; /*para que no se desborde*/
}

#estres {
    background-color:#af4999 ;
    width: 20%;
}

#salud:hover #estres {
    animation: estres 2s forwards;
}

#cansancio { 
    background-color:rgb(252, 175, 60) ;
    width: 70%;
}

#salud:hover #cansancio {
    animation: cansancio 2s forwards;
}

#optimismo {
    background-color:#00658d ;
    width: 95%;
}
#salud:hover #optimismo {
    animation: optimismo 2s forwards;
}

#confianza {
    background-color:#489946 ;
    width: 90%;
}

#salud:hover #confianza {
    animation: confianza 2s forwards;
}


@keyframes estres{
    0% {
        width:0;
    }
    100%{
        width: 20%;
    }
}

@keyframes cansancio{
    0% {
        width:0;
    }
    100%{
        width: 70%;
    }
}

@keyframes optimismo{
    0% {
        width:0;
    }
    100%{
        width: 95%;
    }
}

@keyframes confianza{
    0% {
        width:0;
    }
    100%{
        width: 90%;
    }
}


/*CÓDIGO DE PROGRESO Y BANNER*/
#progreso_banner {
    max-height: 90%;
    display: flex;
    align-content: center;
    align-items: center; /*CENTRADO*/
    padding-top: 5px;
    box-sizing: content-box;
}

#progreso_container {
    display: flex; 
    align-content: center;
    justify-content: center;
    row-gap: 20px;
    
}

#progreso_container h4 {
    font-size: medium;
}

#progreso {
    max-width: 90%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 5px;
    row-gap: 20px;
    padding: 5px;
}

#progreso > h2 {
    padding-top: 5px;
}

#progreso > h3 {
    padding-top: 5px;
    margin-bottom: 5px;
}

#estadisticas_progreso {
    border: 2px solid rgba(98, 190, 144, 0.4);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    text-align: center;
    
}

#estadisticas_progreso > h3 {
    width: 90%;
    text-align: center;
}

.estadisticas_container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    height: 200px;
}

.estadisticas_container > img {
    max-width: 60%;
    border-radius: 2%;
    margin: auto;
}

.estadisticas_container > button {
    width: 200px;
    color:rgb(0, 0, 0);
    padding: 5px;
    margin: 2px;
    border-radius: 20px;
}

.estadisticas_container > button:hover {
    cursor: pointer;
    color: purple;
}

#proyectos_container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#proximos_proyectos {
    height: 200px;
    text-align: center;
    border: 2px solid rgba(130, 82, 158, 0.4);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

#proximos_proyectos > h3 {
    width: 90%;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.cards_proyectos {
    border-radius: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
   justify-content: space-around;
   margin-inline: 40px;
}


.cards_proyectos > img {
    max-width: 80%;
    border-radius: 2%;
    width: 130px;
    height: 80px;
    padding: 5px;
}

/*PONER CÓDIGO RESPONSIVE PARA PROGRESO Y BANNER

#banner {
    flex-wrap: wrap;
}
    */

/*CÓDIGO DEL FOOTER*/

footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #DADBE9;
    padding: 0 30px;
    align-items: center;
}
.logo_copyright {
    text-align: center;
}
.logo_copyright > img {
    width: 40px;
    height: 40px;
}

.logo{
    padding-top: 10px;
}

.copyright{
    font-size: 10px;
    padding-bottom: 10px;
    color: #1C203C;
}

#redes_contacto {
    display: flex;
    gap: 10px;
    margin-right: 0;
}
.redes_contacto_icon img{
    width: 30px;
    height: 30px;
}


/*CÓDIGO DE INTEGRANTES*/

/*#integrantes {
    background-color: #F5F5F5;
    height: 85vh;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel {
    display: flex;
    background-color: #F5F5F5
}

.team_image_box {
    background-color: white;
    padding-right: 10px;
    border-radius: 7%;
    margin-right: 10px;
    justify-content: space-between;
    height: 40vh;
}

.team_image {
    height: 250px;
    width: 250px;
    padding-left: 20px;
    border-radius: 100%;
    padding-top: 25px;
}

h3 {
    color: #1C203C;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 800;
    text-decoration: none;
    padding-left: 20px;
    border-radius: 7%;
}

#angela {
    background-color: #FFD267;
}

#gabriela {
    background-color: #84FF82;
}

#maria {
    background-color: #E6BFE1;
}

#nathalia {
    background-color: #72D1C2;
}

#victoria {
    background-color: #FF6C6C;
}


*/




/*Código sin usar
.carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 80px;
}

.carousel > div {
    width: 25%;
}

.carousel > div > img {
    width: 100%;
}

*/

/*CÓDIGO DE HERRAMIENTAS Y LENGUAJES* /

#herramientas, #lenguajes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.box_herramientas, .box_lenguajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

*/

 


